<!doctype html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
        <link rel="stylesheet" href="/itemmaster/stylesheets/table.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <title>Booking master Table</title>
    </head>
    <style>
        .table-wrapper{padding:15px;}
        tr{cursor:pointer}
        .sz{font-size: 20px}
        .hdng{width: 100%;text-align: center;color:#4179ef }
        .back-button{
            position: fixed;
            z-index: 100000;
            top:10px;
            left:10px;
            background:#4179ef;
            padding: 8px 11px;
            border-radius: 50%;
            color: #fff;
            font-size: 18px;
        }
        .back-button:hover{
            color: #fff;
        }
        td.details-control {
            background: url('https://www.datatables.net/examples/resources/details_open.png') no-repeat center center;
            cursor: pointer;
        }
        tr.shown td.details-control {
            background: url('https://www.datatables.net/examples/resources/details_close.png') no-repeat center center;
        }
        .hhh{
            display: none;
        }
    </style>
    <body>
        <a class="back-button" href="/"><i class="fas fa-home"></i></a>
        <div class="table-wrapper">
            <h4 class="hdng">Booking Master</h4>
            <div class="table-responsive-sm">
                    <table class="table table-hover table-sm table-striped table-bordered" id="myTable">
                        <thead>
                            <tr>
                                <th scope="col">NO.</th>
                                <th scope="col"></th>
                                <th scope="col">RA REFERENCE</th>
                                <th scope="col">INVOICE DATE</th>
                                <th scope="col">INVOICE NUMBER</th>
                                <th scope="col">LEAD PASSENGER</th>
                                <th scope="col">RA AGENT CODE</th>
                                <th scope="col">PAYMENT DEADLINE</th>
                                <th scope="col">CURRENCY</th>
                                <th scope="col" class="text-right">TOTAL AMOUNT</th>
                                <th scope="col">SUB</th>
                                <th scope="col">CHECK IN DATE</th>
                                <th scope="col">CHECK OUT DATE</th>
                                <th scope="col">EXCHANGE RATE</th>
                                <th scope="col">RA FILE HANDLER</th>
                                <th scope="col">NO OF NIGHTS</th>
                                <th scope="col">NO OF ROOMS</th>
                                <th scope="col">BOOKING NOTES</th>
                                <th scope="col">PAYMENT SLABS</th>
                                <th scope="col">PRODUCT NAME</th>
                                <th scope="col">ROOM CATEGORY</th>
                                <th scope="col">SERVICE CATEGORY</th>
                                <th scope="col">SERVICE CITY</th>
                                <th scope="col">SERVICE COUNTRY</th>
                                <th scope="col">STAND ALONE</th>
                                <th scope="col">TAX CALCULATION</th>
                                <th scope="col">TOTAL TAX CALCULATION</th>
                                <th scope="col">FOREIGN CURRENCY</th>
                                <th scope="col">SUPPLIER PAYMENT DEADLINE</th>
                                <th scope="col">COMPONENTS WISE NET COST</th>
                                <th scope="col">COMPONENTS WISE MARKUP</th>
                                <th scope="col">COMPONENTS WISE SELLING COST</th>
                                <th scope="col">COMPONENTS WISE DISCOUNT COMISSION</th>
                                <th scope="col">OVER ALL DISCOUNT</th>
                                <th scope="col">OVER ALL PROFIT</th>
                                <th scope="col">OVER ALL LOSS</th>
                                <th scope="col">COMPONENTS WISE CURRENCY</th>
                                <th scope="col">PER SERVICE WISE SUPPLIER CODE</th>
                                <th scope="col">FETCHED ON</th>
                                <th scope="col">OPERATED ON</th>
                                <th scope="col text-center"><i class="fas fa-sync-alt sz"></i></th>
                                <th scope="col">EDIT</th>
                            </tr>
                        </thead>
                        <tbody class="table-fixed">
                            {{#each data}}
                                <tr id="row{{index_modivied @index}}">
               
                                    <td >{{index_modivied @index}}</td>
                                    <td class="details-control"></td>
                                    <td >{{this.RA_REFERENCE}}</td>
                                    <td >{{this.INVOICE_DATE}}</td>
                                    <td >{{this.INVOICE_NUMBER}}</td>
                                    <td >{{this.LEAD_PASSENGER}}</td>
                                    <td >{{this.RA_AGENT_CODE}}</td>
                                    <td >{{this.PAYMENT_DEADLINE}}</td>
                                    <td >{{this.INVOICE_CURRENCY}}</td>
                                    <td  class="text-right">{{this.TOTAL_IN_AMOUNTS}}</td>
                                    <td >{{thiS.SBU}}</td>
                                    <td >{{thiS.CHECK_IN_DATE}}</td>
                                    <td >{{this.CHECK_OUT_DATE}}</td>
                                    <td >{{this.EXCHANGE_RATE}}</td>
                                    <td >{{this.RA_FILE_HANDLER}}</td>
                                    <td >{{this.NO_OF_NIGHTS}}</td>
                                    <td >{{this.NO_OF_ROOMS}}</td>
                                    <td >{{this.BOOKING_NOTES}}</td>
                                    <td >{{this.PAYMENT_SLABS}}</td>
                                    <td >{{this.PRODUCT_NAME}}</td>
                                    <td >{{thiS.ROOM_CATEGORY}}</td>
                                    <td >{{thiS.SERVICE_CATEGORY}}</td>
                                    <td >{{thiS.SERVICE_CITY}}</td>
                                    <td >{{thiS.SERVICE_COUNTRY}}</td>
                                    <td >{{this.STAND_ALONE}}</td>
                                    <td >{{this.TAX_CALCULATION}}</td>
                                    <td >{{this.TOTAL_TAX_CALCULATION}}</td>
                                    <td >{{this.FOREIGN_CURRENCY}}</td>
                                    <td >{{this.SUPPLIER_PAYMENT_DEADLINE}}</td>
                                    <td >{{this.COMPONENTS_WISE_NET_COST}}</td>
                                    <td >{{this.COMPONENTS_WISE_MARKUP}}</td>
                                    <td >{{this.COMPONENTS_WISE_SELLING_COST}}</td>
                                    <td >{{thiS.COMPONENTS_WISE_DISCOUNT_COMISSION}}</td>
                                    <td >{{thiS.OVER_ALL_DISCOUNT}}</td>

                                    <td >{{thiS.OVER_ALL_PROFIT}}</td>
                                    <td >{{this.OVER_ALL_LOSS}}</td>
                                    <td >{{this.COMPONENTS_WISE_CURRENCY}}</td>
                                    <td >{{this.PER_SERVICE_SUPPLIER_CODE}}</td>
                                    <td >{{this.FETCHED_ON}}</td>
                                   <td></td>
                                   <td></td>
                                    
                                   {{#if this.ismanual}}
                                        <td class="text-center"><a href="/local/booking/{{this.RA_REFERENCE}}" class=" btn btn-primary"><i class="fas fa-pencil-alt"></i></a></td>
                                    {{else}}
                                        <td></td>
                                    {{/if}}







                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
            </div>
        </div>

        <a class="plus-sign" href="/local/booking/"><i class="fas fa-plus"></i></a>


        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
         <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script src="/itemmaster/javascripts/table.js"></script>
        <script>
            


            $(document).ready(function () {
                console.log("{{localUrl}}");
                var table = $('#myTable').DataTable({
                    "order": [[1, 'asc']],
                    rowCallback: function ( row, data, index ) {
                        console.log('rowCallback');
                    }
                });


                $('#myTable tbody').on('click', 'tr', function () {
                    //console.log('clicked');
                    var tr = $(this);
                    var rowid = tr.attr('id');
                    console.log(rowid);
                    var row = table.row( tr );
                    //console.log(row); 
                    if ( row.child.isShown() ) {
                        // This row is already open - close it
                        row.child.hide();
                        tr.removeClass('shown');
                    }
                    else {
                        // Open this row
                        var d = row.data();
                        console.log(d[2]);
                        $.ajax({
                            type: "POST",
                            url: "/bookingmaster/"+d[2],
                            data: {
                                id:d[2]
                            },
                            crossDomain:true,
                            success: function (data) {
                                console.log(data);
                                row.child( '<div class="inner-table"><table class="table table-hover table-sm table-striped table-bordered" id = "child_details'+rowid+'"><thead class="hhh"><tr><th>No</th><th></th><th>RA REFERENCE</th><th>INVOICE DATE</th><th>INVOICE NUMBER</th><th>LEAD PASSENGER</th><th>RA AGENT CODE</th><th>PAYMENT DEADLINE</th><th>CURRENCY</th>'+
                                            '<th>TOTAL AMOUNT</th><th>SUB</th><th>CHECK IN DATE</th><th>CHECK OUT DATE</th><th>EXCHANGE RATE</th><th>RA FILE HANDLER</th><th>NO OF NIGHTS</th><th>NO OF ROOMS</th><th>BOOKING NOTES</th><th>PAYMENT SLABS</th><th>PRODUCT NAME</th><th>ROOM CATEGORY</th><th>SERVICE CATEGORY</th><th>SERVICE CITY</th><th>SERVICE COUNTRY</th><th>STAND ALONE</th><th>TAX CALCULATION</th>'+
                                            '<th>TOTAL TAX CALCULATION</th><th>FOREIGN CURRENCY</th><th>SUPPLIER PAYMENT DEADLINE</th><th>COMPONENTS WISE NET COST</th><th>COMPONENTS WISE MARKUP</th><th>COMPONENTS WISE SELLING COST</th><th>COMPONENTS WISE DISCOUNT COMISSION</th><th>OVER ALL DISCOUNT</th><th>OVER ALL PROFIT</th><th>OVER ALL LOSS</th><th>COMPONENTS WISE CURRENCY</th><th>PER SERVICE WISE SUPPLIER CODE</th><th>FETCHED ON</th><th>OPERATED ON</th><th><i class="fas fa-sync-alt sz"></i></th>'+
                                            '</tr></thead><tbody class="child-body"></tbody></table></div>').show();
                                
                                $('#child_details'+rowid).DataTable({
                                    destroy: true,
                                    data: data,
                                    columns:[
                                        { "data" : null,"defaultContent": "" },
                                        { "data" : null,"defaultContent": "" },
                                        { "data" : "RA_REFERENCE" },
                                        { "data" : "INVOICE_DATE" },
                                        { "data" : "INVOICE_NUMBER" },
                                        { "data" : "LEAD_PASSENGER" },
                                        { "data" : "RA_AGENT_CODE" },
                                        { "data" : "PAYMENT_DEADLINE" },
                                        { "data" : "INVOICE_CURRENCY" },
                                        { "data" : "TOTAL_IN_AMOUNTS" },
                                        { "data" : "SBU" },
                                        { "data" : "CHECK_IN_DATE" },
                                        { "data" : "CHECK_OUT_DATE" },
                                        { "data" : "EXCHANGE_RATE" },
                                        { "data" : "RA_FILE_HANDLER" },
                                        { "data" : "NO_OF_NIGHTS" },
                                        { "data" : "NO_OF_ROOMS" },
                                        { "data" : "BOOKING_NOTES" },
                                        { "data" : "PAYMENT_SLABS" },
                                        { "data" : "PRODUCT_NAME" },
                                        { "data" : "ROOM_CATEGORY" },
                                        { "data" : "SERVICE_CATEGORY" },
                                        { "data" : "SERVICE_CITY" },
                                        { "data" : "SERVICE_COUNTRY" },
                                        { "data" : "STAND_ALONE" },
                                        { "data" : "TAX_CALCULATION" },
                                        { "data" : "TOTAL_TAX_CALCULATION" },
                                        { "data" : "FOREIGN_CURRENCY" },
                                        { "data" : "SUPPLIER_PAYMENT_DEADLINE" },
                                        { "data" : "COMPONENTS_WISE_NET_COST" },
                                        { "data" : "COMPONENTS_WISE_MARKUP" },
                                        { "data" : "COMPONENTS_WISE_SELLING_COST" },
                                        { "data" : "COMPONENTS_WISE_DISCOUNT_COMISSION" },
                                        { "data" : "OVER_ALL_DISCOUNT" },
                                        { "data" : "OVER_ALL_PROFIT" },
                                        { "data" : "OVER_ALL_LOSS" },
                                        { "data" : "COMPONENTS_WISE_CURRENCY" },
                                        { "data" : "PER_SERVICE_SUPPLIER_CODE" },
                                        { "data" : "FETCHED_ON" },
                                        { "data" : null,"defaultContent": "" },
                                        { "data" : null,"defaultContent": "" }
                                        
                                    ],
                                    "searching": false,
                                    "paging":   false,
                                    "ordering": false
                                });
                                tr.addClass('shown');
                            },
                            error: function (xhr, status, error) {
                                swal("Error", "Error detching details", "error");
                            }
                        });
                        
                    }
                });


            });

        </script>
    </body>
</html>