<!doctype html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
        <link rel="stylesheet" href="/itemmaster/stylesheets/table.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <title>Itemmaster Table</title>
    </head>
    <body>

        <div class="table-wrapper">
            <div class="table-responsive-sm">
                    <table class="table table-hover table-sm table-striped table-bordered" id="myTable">
                        <thead>
                            <tr>
                                <th scope="col">No.</th>
                                <th scope="col">ID</th>
                                <th scope="col">SUB</th>
                                <th scope="col">CHECK_IN_DATE</th>
                                <th scope="col">CHECK_OUT_DATE</th>
                                <th scope="col">EXCHANGE_RATE</th>
                                <th scope="col">RA_FILE_HANDLER</th>
                                <th scope="col">INVOICE_NUMBER</th>
                                <th scope="col">INVOICE_CURRENCY</th>
                                <th scope="col">INVOICE_DATE</th>
                                <th scope="col">LEAD_PASSENGER</th>
                                <th scope="col">NO_OF_NIGHTS</th>
                                <th scope="col">NO_OF_ROOMS</th>
                                <th scope="col">BOOKING_NOTES</th>
                                <th scope="col">PER_SERVICE_WISE_SUPPLIER</th>
                                <th scope="col">PAYMENT_DEADLINE</th>
                                <th scope="col">PAYMENT_SLABS</th>
                                <th scope="col">PRODUCT_NAME</th>
                                <th scope="col">RA_REFERENCE</th>
                                <th scope="col">ROOM_CATEGORY</th>
                                <th scope="col">SERVICE_CATEGORY</th>
                                <th scope="col">SERVICE_CITY</th>
                                <th scope="col">SERVICE_COUNTRY</th>
                                <th scope="col">STAND_ALONE</th>
                                <th scope="col">TAX_CALCULATION</th>
                                <th scope="col">TOTAL_TAX_CALCULATION</th>
                                <th scope="col">TOTAL_IN_AMOUNTS</th>
                                <th scope="col">FOREIGN_CURRENCY</th>
                                <th scope="col">SUPPLIER_PAYMENT_DEADLINE</th>
                                <th scope="col">COMPONENTS_WISE_NET_COST</th>
                                <th scope="col">COMPONENTS_WISE_MARKUP</th>
                                <th scope="col">COMPONENTS_WISE_SELLING_COST</th>
                                <th scope="col">COMPONENTS_WISE_DISCOUNT_COMISSION</th>
                                <th scope="col">OVER_ALL_DISCOUNT</th>
                                <th scope="col">OVER_ALL_PROFIT</th>
                                <th scope="col">OVER_ALL_LOSS</th>
                                <th scope="col">COMPONENTS_WISE_CURRENCY</th>
                                <th scope="col">FETCHED_ON</th>
                                <th scope="col">OPERATED_ON</th>
                                <th scope="col">SENT_TO_REALBOOK</th>
                            </tr>
                        </thead>
                        <tbody class="table-fixed">
                            {{#each data}}
                                <tr>
                                    <td>{{index_modivied @index}}</td>
                                    <td>{{this.id}}</td>
                                    <td>{{this.SBU}}</td>
                                    <td>{{this.CHECK_IN_DATE}}</td>
                                    <td>{{this.CHECK_OUT_DATE}}</td>
                                    <td>{{this.EXCHANGE_RATE}}</td>
                                    <td>{{this.RA_FILE_HANDLER}}</td>
                                    <td>{{this.INVOICE_NUMBER}}</td>
                                    <td>{{this.INVOICE_CURRENCY}}</td>
                                    <td>{{this.INVOICE_DATE}}</td>
                                    <td>{{this.LEAD_PASSENGER}}</td>
                                    <td>{{this.NO_OF_NIGHTS}}</td>
                                    <td>{{this.NO_OF_ROOMS}}</td>
                                    <td>{{this.BOOKING_NOTES}}</td>
                                    <td>{{this.PER_SERVICE_WISE_SUPPLIER}}</td>
                                    <td>{{this.PAYMENT_DEADLINE}}</td>
                                    <td>{{this.PAYMENT_SLABS}}</td>
                                    <td>{{this.PRODUCT_NAME}}</td>
                                    <td>{{this.RA_REFERENCE}}</td>
                                    <td>{{this.ROOM_CATEGORY}}</td>
                                    <td>{{this.SERVICE_CATEGORY}}</td>
                                    <td>{{this.SERVICE_CITY}}</td>
                                    <td>{{this.SERVICE_COUNTRY}}</td>
                                    <td>{{this.STAND_ALONE}}</td>
                                    <td>{{this.TAX_CALCULATION}}</td>
                                    <td>{{this.TOTAL_TAX_CALCULATION}}</td>
                                    <td>{{this.TOTAL_IN_AMOUNTS}}</td>
                                    <td>{{this.FOREIGN_CURRENCY}}</td>
                                    <td>{{this.SUPPLIER_PAYMENT_DEADLINE}}</td>
                                    <td>{{this.COMPONENTS_WISE_NET_COST}}</td>
                                    <td>{{this.COMPONENTS_WISE_MARKUP}}</td>
                                    <td>{{this.COMPONENTS_WISE_SELLING_COST}}</td>
                                    <td>{{this.COMPONENTS_WISE_DISCOUNT_COMISSION}}</td>
                                    <td>{{this.OVER_ALL_DISCOUNT}}</td>
                                    <td>{{this.OVER_ALL_PROFIT}}</td>
                                    <td>{{this.OVER_ALL_LOSS}}</td>
                                    <td>{{this.COMPONENTS_WISE_CURRENCY}}</td>
                                    <td>{{this.FETCHED_ON}}</td>
                                    <td>{{this.OPERATED_ON}}</td>
                                    <td>{{this.SENT_TO_REALBOOK}}</td>
                                    <!--<td class="text-center">
                                        <a href="/itemmaster/form?id={{this.id}}" class="btn btn-primary actn"><i class="fas fa-pencil-alt"></i></a>
                                        <button type="button" onclick="deleteITEM('{{this.id}}')" class="btn btn-danger actn" data-toggle="modal" data-target="#del"><i class="far fa-trash-alt"></i></button>
                                    </td>-->
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
            </div>
        </div>



        


        <!-- The confirm Modal -->
            <div class="modal" id="del">
                <div class="modal-dialog modal-sm modal-dialog-centered">
                    <div class="modal-content">
                    <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Delete !</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            Want to delete this Item ?
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger cnf" >Confirm</button>
                            <button type="button" class="btn btn-blue" data-dismiss="modal">Close</button>
                        </div>

                    </div>
                </div>
            </div>



        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="/itemmaster/javascripts/table.js"></script>
        <script>
            $(document).ready(function () {
                $('#myTable').DataTable();
            });



            function deleteITEM(idI){
                $(".cnf").attr('onclick',"dell('"+ idI +"')");
            }

            function dell(idI){
                window.location = "/itemmaster/form/delete/"+idI;
            }

        </script>
    </body>
</html>