<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <!--<link href="https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css" rel="stylesheet" type="text/css" />-->
    <link rel="stylesheet" href="/datepicker/css/bootstrap-datepicker.standalone.min.css">
    <link rel="stylesheet" href="/ledgermaster/stylesheets/index.css">
    <title>Form</title>
  </head>
  <body>
    <div class="container">
        <div class="loader-container">
          <div class="loader"></div>
        </div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#general">General</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="tax-link" href="/ledgermaster/{{e_id}}/taxlink">Tax link</a>
            </li>
        </ul>   
        <!-- Tab panes -->
        <div class="tab-content">
            <div id="general" class="container tab-pane active"><br>
                {{#if msg}}
                    <div class="alert err alert-dismissible fade show text-center" role="alert">
                        <strong>Data saved sucessfully !</strong>&nbsp;<a href="/ledgermaster/data/" class="btn blue btn-sm">Table</a>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {{/if}}

                <div class="container" id="wrapper-main">
                    <p class="text-center" id="form-heading">Ledger Master</p>
                    <form class="row" method="POST" action="/ledgermaster/form">


                        <div class="col-sm" id="part1">

                            {{#if editable}}     
                                <input id="id" name="editID" value="{{e_id}}" type="hidden">    
                            {{/if}}
                            
                            {{#if backto}}     
                                <input id="backto" name="backto" value="{{backto}}" type="hidden">    
                            {{/if}}    
                        
                        <div class="form-group">
                                <label for="ledger_nature">Ledger nature</label>
                                <select class="form-control form-control-sm" name="ledger_nature" id="ledger_nature">
                                    <option value="party">party</option>
                                    <option value="tax">tax</option>
                                    <option value="income">income</option>
                                    <option value="expense">expense</option>
                                    <option value="liability">liability</option>
                                    <option value="asset">asset</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="ledger_name">Ledger name</label>
                                <input class="form-control form-control-sm" id="ledger_name" name="ledger_name" value="{{ledger_name}}" placeholder="ledger name" required>        
                            </div>

                            <div class="form-group">
                                <label for="ledger_code">Ledger code</label>
                                <input class="form-control form-control-sm" id="ledger_code" name="ledger_code" value="{{ledger_code}}" placeholder="ledger code" required>        
                            </div>

                            <div class="form-group">
                                <label for="ledger_group">Ledger group</label>
                                <select class="form-control form-control-sm" name="ledger_group" id="ledger_group">
                                    <option value="api1">Api1</option>
                                    <option value="api2">Api2</option>
                                </select>
                            </div>

                            <div class="form-group" id="sac_code_h">
                                <label for="sac_code">SAC code</label>
                                <input class="form-control form-control-sm" id="sac_code" name="sac_code" value="{{sac_code}}" placeholder="sac code" >        
                            </div>

                            <div class="form-group" id="tax_group_h">
                                <label for="tax_group">Tax group</label>
                                <select class="form-control form-control-sm" name="tax_group" id="tax_group">
                                    {{#each tax_group}}
                                        <option value="{{this.pid}}">{{this.name}}</option>
                                    {{/each}}
                                </select>
                            </div>

                            <div class="form-group" id="tax_name_h">
                                <label for="tax_name">Tax name</label>
                                <select class="form-control form-control-sm" name="tax_name" id="tax_name">
                                    
                                </select>
                            </div>

                            <div class="form-group" id="rate_h">
                                <label for="rate">Rate</label>
                                <input class="form-control form-control-sm" id="rate" name="rate" value="{{rate}}" placeholder="rate" >        
                            </div>

                            <div class="form-group text-right">
                                    <a href="/ledgermaster/form" class="btn btn-theme">Clear fields</a>
                                    <input type="submit" class="btn btn-theme"  value="Add Item">
                            </div>

                            

                        </div>

                    </form> 
                </div>
            </div>
        </div>
        <a class="plus-sign" href="/ledgermaster/data/"><i class="fas fa-list-ul"></i></a>
    </div>
      

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!--datepicker-->
    <!--<script src="https://unpkg.com/gijgo@1.9.11/js/gijgo.min.js" type="text/javascript"></script>-->
    <script src="/datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="/ledgermaster/javascripts/index.js" type="text/javascript"></script>

    <script>
        function gettaxname(item){
            $('.loader-container').css('display','block');
            var id=$("#tax_group").children("option:selected").val();
            console.log(id);
            $.ajax({
                url:"get/taxname",
                type:"POST",
                data:{ groupid:id },
                success:function(data){
                    console.log(data);
                    $("#tax_name").html("");
                    $.each(data, function(i, d) {
                        $("#tax_name").append('<option value='+d.id+'>'+d.name+'</option>');
                    });
                    $('.loader-container').css('display','none');
                },
                error:function(err){
                    console.log(err)
                }
            });
        }

        //gettaxname($('#tax_group'));

        $(document).ready(function () {



            $("#ledger_nature").on("change",function(){
                var ledger_nature = $(this).children("option:selected").val();
                choose(ledger_nature);
            });

            //choose what happens when type is changed
            var choose = function(nature){
                $("#sac_code_h").html('<label for="sac_code">SAC code</label><input class="form-control form-control-sm" id="sac_code" name="sac_code" value="{{sac_code}}" placeholder="sac code" >');
                $("#tax_group_h").html('<label for="tax_group">Tax group</label><select class="form-control form-control-sm" name="tax_group" id="tax_group" onchange="gettaxname(self)">{{#each tax_group}}<option value="{{this.id}}">{{this.name}}</option>{{/each}}</select>');
                $("#tax_name_h").html('<label for="tax_name">Tax name</label><select class="form-control form-control-sm" name="tax_name" id="tax_name"></select>');
                $("#rate_h").html('<label for="rate">Rate</label><input class="form-control form-control-sm" id="rate" name="rate" value="{{rate}}" placeholder="rate" >');
                $("#tax-link").show();
                if(nature=="tax"){
                    gettaxname($('#tax_group option:selected').val());
                    {{#if editable}}
                     $('#tax_group > option').each(function() {
                        if($(this).val()=='{{e_tax_group}}'){
                            $(this).attr("selected","selected");
                        };
                    });
                    {{/if}}
                    $("#sac_code_h").empty();
                    $("#tax-link").hide();
                }
                else if(nature=="income" || nature=="expense"){
                    $("#tax_group_h").empty();
                    $("#tax_name_h").empty();
                    $("#rate_h").empty();
                }
                else if(nature=="party"){
                    $("#sac_code_h").empty();
                    $("#tax_group_h").empty();
                    $("#tax_name_h").empty();
                    $("#rate_h").empty();
                    $("#tax-link").hide();

                }
                else if(nature =="asset" || nature=="liability"){
                    $("#sac_code_h").empty();
                    $("#tax_group_h").empty();
                    $("#tax_name_h").empty();
                    $("#rate_h").empty();
                    $("#tax-link").hide();
                }
            }
            {{#if editable}}

        
                $('#ledger_nature > option').each(function() {
                    if($(this).val()=='{{e_ledger_nature}}'){
                        $(this).attr("selected","selected");
                    };
                });
                $('#ledger_group > option').each(function() {
                    if($(this).val()=='{{e_ledger_group}}'){
                        $(this).attr("selected","selected");
                    };
                });
                $('#tax_group > option').each(function() {
                    if($(this).val()=='{{e_tax_group}}'){
                        $(this).attr("selected","selected");
                    };
                });
                $('#tax_name > option').each(function() {
                    if($(this).val()=='{{e_tax_name}}'){
                        $(this).attr("selected","selected");
                    };
                });
                choose("{{e_ledger_nature}}");
        
            {{else}}
                choose("party");
            {{/if}}
            

        });
        
    </script>
</body>
</html>