<!doctype html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
        <link rel="stylesheet" href="/ledgermaster/stylesheets/table.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <title>Ledgermaster Table</title>
    </head>
    <body>

        <div class="table-wrapper">
            <div class="table-responsive-sm">
                    <table class="table table-hover table-sm table-striped table-bordered" id="myTable">
                        <thead>
                            <tr>
                                <th scope="col">No.</th>
                                <th scope="col">ID</th>
                                <th scope="col">Ledger Nature</th>
                                <th scope="col">Ledger Name</th>
                                <th scope="col">Ledger Code</th>
                                <th scope="col">Ledger Group</th>
                                <th scope="col">Sac Code</th>
                                <th scope="col">Tax Group</th>
                                <th scope="col">Tax Name</th>
                                <th scope="col">Rate</th>
                                <th scope="col">Operation</th>
                            </tr>
                        </thead>
                        <tbody class="table-fixed">
                            {{#each data}}
                                <tr>
                                    <td>{{index_modivied @index}}</td>
                                    <td>{{this.id}}</td>
                                    <td>{{this.ledger_nature}}</td>
                                    <td>{{this.ledger_name}}</td>
                                    <td>{{this.ledger_code}}</td>
                                    <td>{{this.ledger_group}}</td>
                                    <td>{{this.sac_code}}</td>
                                    <td>{{this.tax_group}}</td>
                                    <td>{{this.tax_name}}</td>
                                    <td>{{this.rate}}</td>
                                    <td class="text-center">
                                        <a href="/ledgermaster/form?id={{this.id}}" class="btn btn-primary actn"><i class="fas fa-pencil-alt"></i></a>
                                        <button type="button" onclick="deleteITEM('{{this.id}}')" class="btn btn-danger actn" data-toggle="modal" data-target="#del"><i class="far fa-trash-alt"></i></button>
                                    </td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
            </div>
        </div>




        <a class="plus-sign" href="/ledgermaster/form"><i class="fas fa-plus"></i></a>



        <!-- The confirm Modal -->
            <div class="modal" id="del">
                <div class="modal-dialog modal-sm modal-dialog-centered">
                    <div class="modal-content">
                    <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Delete !</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            Want to delete this ledger ?
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger cnf" >Confirm</button>
                            <button type="button" class="btn btn-blue" data-dismiss="modal">Close</button>
                        </div>

                    </div>
                </div>
            </div>


    
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="/ledgermaster/javascripts/table.js"></script>
        <script>

            function deleteITEM(idI){
                $(".cnf").attr('onclick',"dell('"+ idI +"')");
            }

            function dell(idI){
                window.location = "/ledgermaster/form/delete/"+idI;
            }

        </script>
    </body>
</html>