<!doctype html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <!--<link href="https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css" rel="stylesheet" type="text/css" />-->    
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />

        <link rel="stylesheet" href="/ledgermaster/stylesheets/index.css">
        <title>Form</title>
    </head>
    <body>  
        <div class="loader-container">
            <div class="loader"></div>
        </div>

        <div class="container">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    {{#if editable}}
                        <a class="nav-link" href="/ledgermaster/form?id={{ledger_id}}">General</a>
                    {{else}}
                        <a class="nav-link" href="/ledgermaster/form">General</a>
                    {{/if}}
                </li>
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#tax-link">Tax link</a>
                </li>
            </ul>
        </div>

        <!-- Tab panes -->
        <div class="container-fluid">
            <div class="tab-content">
                <div id="tax-link" class="tab-pane active"><br>
                    {{#if msg}}
                        <div class="alert err alert-dismissible fade show text-center" role="alert">
                            <strong>Data saved sucessfully !</strong>&nbsp;<a href="/ledgermaster/data/" class="btn blue btn-sm">Table</a>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {{/if}}
                    {{#if editable}}     
                        {{#if isTasxDone}}
                            <div class="container">
                                <h1>Editing function</h1>
                            </div>
                        {{else}}
                            <form class="container-fluid" method="POST" action="/ledgermaster/ledgertaxlink">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <input id="id" name="ledger_id" value="{{ledger_id}}" type="hidden">
                                         <div class="form-wrapper1">
                                            
                                        </div>
                                    </div>
                                </div>
                                <button type="button" onclick="addrow()" id="add">Add</button>
                                <input type="submit" id="save" value="save">
                            </form>
                        {{/if}} 
                    {{else}}
                        <div class="container text-center">
                            <h3>{{edit_msg}}!</h3>
                        </div>
                    {{/if}}
                    
                </div>
            </div>
        </div>
    </body>
      <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!--datepicker-->
    <!--<script src="https://unpkg.com/gijgo@1.9.11/js/gijgo.min.js" type="text/javascript"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="/search1.js" type="text/javascript"></script>
    <script>
        
        
            //add new row
            function addrow(){
                var j= $(".form-wrapper1").children().length+1;
                $('.form-wrapper1').append('<div class="row"><div class="col"><div class="form-group"><label for="tax-group">Tax group</label><select class="custom-select custom-select-sm mb-3" name="tax-group-h'+j+'" id="tax-group-h'+j+'" onchange="fetchtypes(this)">{{#each tax_group}}<option value="{{this.id}}">{{this.name}}</option>{{/each}}</select> </div></div><div class="col"><label for="tax-type">Tax Type</label><div class="tax-type-h'+j+'" id="tax-type-h'+j+'"></div></div><div class="col"><label for="tax-name">Tax Name</label> <div class="tax-name-h'+j+'" id="tax-name-h'+j+'"></div></div><div class="col"><label for="tax-rate">Rate</label><div class="tax-rate-h'+j+'" id="tax-rate-h'+j+'"></div></div></div>');
                $("#save").show();
            }

            function fetchtypes(this1){
                var tax_groupID = $(this1).children("option:selected").val();
                get_tax_name($(this1),tax_groupID);
            }

            //get other stafs
            function get_tax_name(self,id){ 
                var k =self.attr('id').substring(11);
                //console.log(id);
                $('.loader-container').css('display','block');
                $.ajax({
                    url:"/ledgermaster/api/tax-name",
                    type:"POST",
                    data:{ id:id },
                    success:function(data){
                        console.log(data);
                        $('#tax-type-h'+k).html("");
                        $('#tax-name-h'+k).html("");
                        $('#tax-rate-h'+k).html("");
                        $.each(data, function(i, d) {
                            $('#tax-type-h'+k).append('<div class="form-group"><input class="form-control form-control-sm" name="tax-type'+k+i+'" id="tax-type'+k+i+'" value="'+d.name+'" readonly></div>');
                            $('#tax-name-h'+k).append('<div class="form-group"><select class="js-data-example-ajax form-control form-control-sm" name="tax-name'+k+i+'" id="tax-name'+k+i+'"></select></div>');
                            $('#tax-rate-h'+k).append('<div class="form-group"><input class="form-control form-control-sm" id="tax-rate'+k+i+'" type="text" name="tax-rate'+k+i+'" readonly></div>');
                            var tid = "#tax-name"+String(k)+String(i);  
                            $.ajax({
                                type:"GET",
                                url: "/ledgermaster/api/ledgername?key="+d.id,
                                cache: false,
                                success: function(data){
                                    $(tid).select2({    
                                        data:$.map(data,function(n,i){
                                                return({
                                                    text: n.ledger_name,
                                                    id: n.id
                                                });
                                            })
                                    });
                                    $(tid).on('change',function(e){
                                        var id = $(this).children("option:selected").val();
                                        var descc = $(this).attr("id");
                                        console.log(descc);
                                        $.ajax({
                                            type:"GET",
                                            url: "/ledgermaster/api/rate?id="+id,
                                            success: function(data){
                                                $("#tax-rate"+descc.substr(8)).val(data[0].rate);
                                            }  
                                        })
                                    })

                                    getrate1($("#tax-name"+k+i));
                                }
                            });

                            
                        });
                        $('.loader-container').css('display','none');
                    },
                    error:function(err){
                        console.log(err)
                    }
                });
            }


            

            //fetch rates
            function getrate1(self1){
                var id = $(self1).children("option:selected").val();
                var descc = $(self1).attr("id");
                console.log($(self1));
                $.ajax({
                        type:"GET",
                        url: "/ledgermaster/api/rate?id="+id,
                        success: function(data){
                             $("#tax-rate"+descc.substr(8)).val(data[0].rate);
                        }  
                    })
            }




            //edit
            function get_tax_name_e(self,id,arr){ 
                var k =self.attr('id').substring(11);
                $('.loader-container').css('display','block');
                $.ajax({
                    url:"/ledgermaster/api/tax-name",
                    type:"POST",
                    data:{ id:id },
                    success:function(data){
                        //console.log(data);
                        $('#tax-type-h'+k).html("");
                        $('#tax-name-h'+k).html("");
                        $('#tax-rate-h'+k).html("");
                        $.each(data, function(i, d) {
                            $('#tax-type-h'+k).append('<div class="form-group"><input class="form-control form-control-sm" name="tax-type'+k+i+'" id="tax-type'+k+i+'" value="'+d.name+'" readonly></div>');
                            $('#tax-name-h'+k).append('<div class="form-group"><select class="js-data-example-ajax form-control form-control-sm" name="tax-name'+k+i+'" id="tax-name'+k+i+'" ></select></div>');
                            $('#tax-rate-h'+k).append('<div class="form-group"><input class="form-control form-control-sm" id="tax-rate'+k+i+'" type="text" name="tax-rate'+k+i+'" readonly></div>');
                            var tid = "#tax-name"+String(k)+String(i);  
                            $.ajax({
                                type:"GET",
                                url: "/ledgermaster/api/ledgername?key="+d.id,
                                cache: false,
                                success: function(data2){
                                    $(tid).select2({    
                                        data:$.map(data2,function(n,i){
                                                return({
                                                    text: n.ledger_name,
                                                    id: n.id
                                                });
                                            })
                                        
                                    }).val(arr[i].tax_name_id).trigger('change');

                                    $(tid).on('change',function(e){
                                        var id = $(this).children("option:selected").val();
                                        var descc = $(this).attr("id");
                                        console.log(descc);
                                        $.ajax({
                                            type:"GET",
                                            url: "/ledgermaster/api/rate?id="+id,
                                            success: function(data){
                                                $("#tax-rate"+descc.substr(8)).val(data[0].rate);
                                            }  
                                        })
                                    });
                
                                    getrate1($("#tax-name"+k+i));
                                }
                            });

                            
                        });
                        $('.loader-container').css('display','none');
                    },
                    error:function(err){
                        console.log(err)
                    }
                });
            }


        $(document).ready(function () {
            var ar={
                {{#each tax_group}}
                    "{{this.id}}":"{{this.name}}",
                {{/each}}
            }
          

            {{#if haslinked}}
                $.ajax({
                    type:"GET",
                    url: "/ledgermaster/api/edit/"+{{ledger_id}},
                    cache: false,
                    success: function(data){
                        //console.log(JSON.stringify(data,null,4));
                        $.each(data, function(i, d) {
                            $("#add").click();
                            var j = i+1;
                            $("#tax-group-h"+j).val(data[i].tax_group);
                            get_tax_name_e($("#tax-group-h"+j),data[i].tax_group,data[i].data); 
                        });               
                    }
                }); 

        
            {{else}}
                $("#save").hide();
                console.log("default");
            {{/if}}
        });
        

        
    </script>
</html>