<!doctype html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
        <link rel="stylesheet" href="/itemmaster/stylesheets/table.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <link rel="stylesheet" href="/datepicker/css/bootstrap-datepicker.standalone.min.css">
        <title>VOUCHER Table</title>
    </head>
    <style>
        .table-wrapper{padding:20px;}
        .table-controls-sql{margin-bottom: 10px;}
        tr{cursor:pointer}
        .sz{font-size: 20px}
        .hdng{width: 100%;text-align: center;color:#4179ef }
        .back-button{
            position: fixed;
            z-index: 100000;
            top:10px;
            left:10px;
            background:#4179ef;
            padding: 8px 11px;
            border-radius: 50%;
            color: #fff;
            font-size: 18px;
        }
        .back-button:hover{
            color: #fff;
        }
    </style>
    <body>
         <a class="back-button" href="/"><i class="fas fa-home"></i></a>
        <div class="table-wrapper">
            <h4 class="hdng">Post data to realbook</h4>
            <div class="card  table-controls-sql">
                <form method="GET" class="card-body form-inline" id="filterForm"  action="/post/data">
                    <input type="text" class="form-control form-control-sm mb-2 mr-sm-2 datepicker" name="fromdate" type="text" id="fromdate" autocomplete="off" placeholder="From date" >
                    <input type="text" class="form-control form-control-sm mb-2 mr-sm-2 datepicker" name="todate" type="text" id="todate" autocomplete="off" placeholder="To date" >
                    <select class="form-control form-control-sm mb-2 mr-sm-2" name="company" id="comp">
                            <option value="">All company</option>
                        {{#each company}}
                            <option value="{{this.id}}">{{this.name}}</option>
                        {{/each}}
                    </select>
                  
                    <button type="submit" id="filter-btn" class="btn btn-primary mb-2 form-control-sm">Filter</button>
                </form>
            </div>
            <div class="table-responsive-sm">
                    <table class="table table-hover table-sm table-striped table-bordered" id="myTable">
                        <thead>
                            <tr>
                                <th scope="col">No.</th>
                                <th scope="col">TRANSACTION DATE</th>
                                <th scope="col">TRANSACTION NUMBER</th>
                                <th scope="col">TRANSACTION TYPE</th>
                                <th scope="col">RA REFERENCE</th>
                                <!--<th scope="col">TRANSACTION DESC</th>-->
                                <!--<th scope="col">ID</th>
                                <th scope="col">TSN CODE</th>
                                <th scope="col">VOUCHER ALIES</th>
                                <th scope="col">API REF</th>
                                <th scope="col">DOC LINK</th>
                                <th scope="col">FX RATE</th>
                                <th scope="col">IS FX</th>
                                <th scope="col">IS INV</th>
                                <th scope="col">REF FILE NAME</th>
                                <th scope="col">IS SEZ</th>
                                <th scope="col">IS ABATMENT</th>
                                <th scope="col">STATUS</th>
                                <th scope="col">CURRENCY SYMBOL</th>
                                <th scope="col">GST IN</th>-->
                                <th scope="col">PARTY NAME</th>
                                <th scope="col">CURRENCY</th>
                                <th scope="col" class="text-right">PARTY AMOUNT</th>
                                <th scope="col">COMPANY NAME</th>
                                <!--<th scope="col">SEG ID</th>-->
                                <th scope="col">SYNCHRONIZATION</th>
                                <th scope="col">SYNCHRONIZATION DATE</th>
                            </tr>
                        </thead>
                        <tbody class="table-fixed">
                            {{#each data}}
                                <tr>
                                    <td onclick="fetchVdetail('{{this.id}}')">{{index_modivied @index}}</td>
                                    <td onclick="fetchVdetail('{{this.id}}')">{{this.transactionDate}}</td>
                                    <td onclick="fetchVdetail('{{this.id}}')">{{this.transactionNumber}}</td>
                                    <td onclick="fetchVdetail('{{this.id}}')">{{this.transactionType}}</td>
                                    <td onclick="fetchVdetail('{{this.id}}')">{{this.refFileName}}</td>
                                    <!--
                                    <td onclick="fetchVdetail('{{this.id}}')">{{this.transactionDescription}}</td>
                                    <td>{{this.id}}</td>
                                    <td>{{this.txnCode}}</td>
                                    <td>{{this.voucherAlias}}</td>
                                    <td>{{this.apiRef}}</td>
                                    <td>{{this.docLink}}</td>
                                    <td>{{this.fxRate}}</td>
                                    <td>{{this.isFx}}</td>
                                    <td>{{this.isInv}}</td>
                                    <td>{{this.refFileName}}</td>
                                    <td>{{this.isSEZ}}</td>
                                    <td>{{this.isAbatement}}</td>
                                    <td>{{this.status}}</td>
                                    <td>{{this.currencySymbol}}</td>
                                    <td>{{this.gstin}}</td>-->
                                    <td onclick="fetchVdetail('{{this.id}}')">{{this.partyName}}</td>
                                    <td onclick="fetchVdetail('{{this.id}}')">{{this.currencySymbol}}</td>
                                    <td onclick="fetchVdetail('{{this.id}}')" class="text-right">{{greater this.partyCr this.partyDr}}</td>
                                    <td onclick="fetchVdetail('{{this.id}}')">{{this.name}}</td>
                                    <!--<td>{{this.segid}}</td>-->
                                    <td class="text-center">
                                        {{#if realbookID}}
                                            <a onclick="post('{{this.id}}')" class="btn btn-link actn"><img id="sync{{this.id}}" src="/icons/green.jpeg"></a>
                                        {{else}}
                                            <a onclick="post('{{this.id}}')" class="btn btn-link actn"><img id="sync{{this.id}}" src="/icons/red.jpeg"></a>
                                        {{/if}}
                                        
                                    </td>
                                    <td onclick="fetchVdetail('{{this.id}}')">{{DateFormate this.updatedAt}}</td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
            </div>
        </div>






    <!-- The Modal -->
    <div class="modal fade" id="vdetailsFetched">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            
                <!-- Modal Header -->
                <div class="modal-header">
                <h4 class="modal-title">Voucher Details</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                
                <!-- Modal body -->
                <div class="modal-body">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th scope="col">Ledger</th>
                                <th scope="col" class="text-right">Debit</th>
                                <th scope="col" class="text-right">Credit</th>
                            </tr>
                        </thead>
                        <tbody id="vdbody">
                                                        
                        </tbody>
                    </table>
                    <div class="" style="float:left">
                        <h6 class="desc-hld">Transaction Description : <span class="desc"></span></h6>
                    </div>
                </div>
                
                <!-- Modal footer -->
                <div class="modal-footer">
                
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
                
            </div>
        </div>
    </div>

        




        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="/datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script src="/itemmaster/javascripts/table.js"></script>
        <script>
            $(document).ready(function () {
                $('#myTable').DataTable();


                $('.datepicker').datepicker({
                    todayHighlight:true,
                    format:"yyyy-mm-dd",
                    autoclose:true
                });


                {{#if fromdate}}
                    $("#fromdate").val('{{fromdate}}')
                    $("#todate").val('{{todate}}')
                {{/if}}

                {{#if comp}}
                    $('#comp > option').each(function() {
                        if($(this).val()=='{{comp}}'){
                            $(this).attr("selected","selected");
                        };
                    });
                {{/if}}






                //form validation
                $("#filter-btn").click(function(e){
                    e.preventDefault();
                    var frmdt=$("#fromdate").val();
                    var todt=$("#todate").val();
                    if((frmdt=="" && todt=="") || (frmdt!="" && todt!="")){
                        $("#filterForm").submit();
                    }
                    else{
                        swal("Warning", "Todate and Fromdate both field can either be empty or filled", "error");
                    }
                    
                });


                
                 
    

    

                
                
            });
                function post(id){
                    $.ajax({
                        type: "POST",
                        url: "/post",
                        data: {
                            id:id
                        },
                        crossDomain:true,
                        success: function (data) {
                            $("#sync"+String(id)).attr('src',"/icons/green.jpeg");
                            swal("Success", "MSG:"+String(data[0].msg), "success");
                        },
                        error: function (xhr, status, error) {
                            $("#sync"+String(id)).attr('src',"/icons/err.jpeg");
                            swal("Error", "Error posting data", "error");
                        }
                    });
                }

                //fetch vdetail
                function fetchVdetail(id){
                     $.ajax({
                        type: "POST",
                        url: "/post/getvdetails",
                        data: {
                            id:id
                        },
                        crossDomain:true,
                        success: function (data) {
                            console.log(data);
                            $("#vdbody").html("");
                            data[1][0].forEach((ii,index)=>{
                                index1=index+1;
                                $("#vdbody").append('<tr><td>'+ii.ledger_name+'</td><td class="text-right">'+ii.dr+'</td><td class="text-right">'+ii.cr+'</td>')
                            });
                            $(".desc").html(data[0][0].transactionDescription)
                            $("#vdetailsFetched").modal("show");
                        },
                        error: function (xhr, status, error) {
                            swal("Error", "Error detching details", "error");
                        }
                    });
                }

            

        </script>
    </body>
</html>