<!doctype html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
        <link rel="stylesheet" href="/sharingmaster/stylesheets/table.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <title>Sharingmaster Table</title>
    </head>
    <body>
        
            <div class="wrapper">
                    <!-- Sidebar  -->
                    <nav id="sidebar">            
                        <ul class="list-unstyled components accordion" id="accor1">
                {{#each supply}}
                    <li class="{{this.id}}">
                        <button type="button"  data-target="#comp{{index_modivied @index}}" data-toggle="collapse" aria-expanded="false" aria-controls="comp{{index_modivied @index}}">{{this.name}}<i class="fas fa-sort-down"></i></button>
                            <ul class="collapse list-unstyled" id="comp{{index_modivied @index}}" data-parent="#accor1">
                                {{#each ../component}}
                                    <li class="{{this.id}}">
                                        <a href="/sharingmaster/data/{{../this.id}}/{{this.id}}">{{this.name}}</a>
                                    </li>
                            {{/each}}
                        </ul>
                    </li>
                {{/each}}
                                                        
                                                        
                            
                        </ul>
                    </nav>

                    <button type="button" id="sidebarCollapse" class="btn">
                            <i class="fas fa-arrows-alt-h"></i>
                    </button>
            
                    <!-- Page Content  -->
                    <div id="content">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item" id="supp"></li>
                            <li class="breadcrumb-item active y" id="compp"></li>
                        </ul>
                        <div class="table-responsive-sm">
                            <table class="table table-hover table-sm table-striped table-bordered" id="myTable">
                                        <!--Min age
                                        <input type="text" id="min" name="min">
                                        Maximum age:
                                        <input type="text" id="max" name="max"><br><br>-->
                                   
                                <thead>
                                    <tr>
                                        <th scope="col">No.</th>
                                        <th scope="col">From Date</th>
                                        <th scope="col">To Date</th>
                                        <th scope="col">Fixed Amount</th>
                                        <th scope="col">Rule</th>
                                        <th scope="col">Value1</th>
                                        <th scope="col">Value2</th>
                                        <th scope="col">Operation</th>
                                    </tr>
                                </thead>

                                <tbody class="table-fixed">
                                    {{#each data}}
                                        <tr>
                                            <td>{{index_modivied @index}}</td>
                                            <td>{{this.fromdate}}</td>
                                            <td>{{this.todate}}</td>
                                            <td>{{this.minshare}}</td>
                                            <td>{{this.rule}}</td>
                                            <td>{{this.value1}}</td>
                                            <td>{{this.value2}}</td>
                                            <td class="text-center">
                                                <a href="/sharingmaster/form?id={{this.id}}" class="btn btn-primary actn"><i class="fas fa-pencil-alt"></i></a>
                                                <button type="button" onclick="deleteITEM('{{this.id}}')" class="btn btn-danger actn" data-toggle="modal" data-target="#del"><i class="far fa-trash-alt"></i></button>
                                            </td>
                                        </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>    
                    </div>
                </div>

                <a class="plus-sign" href="/sharingmaster/form"><i class="fas fa-plus"></i></a>



                <!-- The confirm Modal -->
                <div class="modal" id="del">
                    <div class="modal-dialog modal-sm modal-dialog-centered">
                        <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Delete !</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            Want to delete this condition ?
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger cnf" >Confirm</button>
                            <button type="button" class="btn btn-blue" data-dismiss="modal">Close</button>
                        </div>

                        </div>
                    </div>
                </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/sharingmaster/javascripts/table.js"></script>
    <script>

        function deleteITEM(idI){
            $(".cnf").attr('onclick',"dell('"+ idI +"')");
        }

        function dell(idI){
            window.location = "/sharingmaster/form/delete/"+idI;
        }


        $(document).ready(function () {
            $('.{{active}} .{{activeSub}}').addClass('ac');
            $('.{{active}}').find('ul:first').addClass('show');
            $("#supp").html($('.{{active}} button').html());
            $("#compp").html($('.{{active}} .{{activeSub}} a').html());
        });




        


        
    </script>
</body>
</html>