<!doctype html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
        <link rel="stylesheet" href="/itemmaster/stylesheets/table.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <title>vprofit sharing Table</title>
    </head>
    <style>
        .table-wrapper{padding:20px;}
        tr{cursor:pointer}
        .sz{font-size: 20px}
        .hdng{width: 100%;text-align: center;color:#4179ef }
        .back-button{
            position: fixed;
            z-index: 100000;
            top:10px;
            left:10px;
            background:#4179ef;
            padding: 8px 11px;
            border-radius: 50%;
            color: #fff;
            font-size: 18px;
        }
        .back-button:hover{
            color: #fff;
        }
    </style>
    <body>
        <a class="back-button" href="/"><i class="fas fa-home"></i></a>
        <div class="table-wrapper">
            <h4 class="hdng">Vprofitsharing</h4>
            <div class="table-responsive-sm">
                    <table class="table table-hover table-sm table-striped table-bordered" id="myTable">
                        <thead>
                            <tr>
                                <th scope="col">No.</th>
                                <th scope="col">Txn Number</th>
                                <th scope="col">Seller co. Name</th>
                                <th scope="col">supplier co. Name</th>
                                <th scope="col">Sharing Master Rule</th>
                                <th scope="col" class="text-right">Posted supplier profit</th>
                                <th scope="col" class="text-right">Posted seller profit</th>
                                <th scope="col">Manual</th>
                            </tr>
                        </thead>
                        <tbody class="table-fixed">
                            {{#each data}}
                                <tr>
                                    <td onclick="fetchdetail('{{this.id}}')">{{index_modivied @index}}</td>
                                    <td onclick="fetchdetail('{{this.id}}')">{{this.RA_REFERENCE}}</td>
                                    <td onclick="fetchdetail('{{this.id}}')">{{this.sellingName}}</td>
                                    <td onclick="fetchdetail('{{this.id}}')">{{this.supplyingName}}</td>
                                    <td onclick="fetchdetail('{{this.id}}')">{{this.rule}}</td>
                                    <td onclick="fetchdetail('{{this.id}}')" class="text-right">{{this.posted_supplier_profit}}</td>
                                    <td onclick="fetchdetail('{{this.id}}')" class="text-right">{{this.posted_seller_profit}}</td>
                                    <td class="text-center">
                                        <button type="button" onclick="editITEM('{{this.id}}')" class="btn btn-danger actn" data-toggle="modal" data-target="#del"><i class="fa fa-pencil-alt"></i></button>
                                    </td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
            </div>
        </div>



        

            
            <!-- The Modal -->
    <div class="modal fade" id="vdetailsFetched">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            
                <!-- Modal Header -->
                <div class="modal-header">
                <h4 class="modal-title">Booking Details</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="details">
                        <div class="row">
                            <div class="col-md-6">
                                <h6 class="">Txn Number : <span  id="txn-number"></span></h6>
                                <h6 class="">Txn Date : <span  id="txn-date"></span></h6>
                                <h6 class="">Lead Passenger Name : <span  id="lead-passenger-name"></span></h6>
                            </div>
                            <div class="col-md-6">
                                <h6 class="">Invoice Currency : <span  id="invoice-currency"></span></h6>
                                <h6 class="">Invoice Amount : <span  id="invoice-amount"></span></h6>
                                <h6 class="">Travel Agent Name : <span  id="travel-agent-name"></span></h6>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="" id="table-data-depend">

                    </div>
                    
                    
           
                </div>
                
                <!-- Modal footer -->
                <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
                
            </div>
        </div>
    </div>
            




        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
         <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script>
            $(document).ready(function () {
                $('#myTable').DataTable();
            });



            function editITEM(idI){
                console.log("send");
               window.location = "/vprofitsharing/edit/"+idI;
            }


                function fetchdetail(id){
                    $.ajax({
                        type: "POST",
                        url: "/vprofitsharing/"+id,
                        data: {
                            id:id
                        },
                        crossDomain:true,
                        success: function (data) {
                            console.log(data);
                            $("#txn-number").html(data[0].RA_REFERENCE);
                            $("#txn-date").html(formateDate(data[0].INVOICE_DATE));
                            $("#invoice-currency").html(data[0].INVOICE_CURRENCY);
                            $("#invoice-amount").html(data[0].COMPONENTS_WISE_SELLING_COST);
                            $("#lead-passenger-name").html(data[0].LEAD_PASSENGER);
                            $("#travel-agent-name").html(data[0].PER_SERVICE_WISE_SUPPLIER_NAME);
                            if(data[0].SERVICE_CATEGORY=='hotel'){
                                $("#table-data-depend").html('<table class="table table-sm"><thead><tr><th scope="col">No</th><th scope="col">Room category</th><th scope="col">Per service wise supplier name</th><th scope="col">No of rooms</th><th scope="col">No of nights</th></tr></thead><tbody id="vdbody1"></tbody></table>');
                                $("#vdbody1").html('<tr><td>1</td><td>'+data[0].ROOM_CATEGORY+'</td><td>'+data[0].PER_SERVICE_WISE_SUPPLIER_NAME+'</td><td>'+data[0].NO_OF_ROOMS+'</td><td>'+data[0].NO_OF_NIGHTS+'</td></td>')
                            }
                            $("#vdetailsFetched").modal("show");                           
                        },
                        error: function (xhr, status, error) {
                            swal("Error", "Error detching details", "error");
                        }
                    });
                }


                function formateDate(d){
                    var date = new Date(d);
                    console.log(date);
                    var y = date.getFullYear();
                    var m = date.getMonth()+1;
                    var d = date.getDate();
                    return String(d)+"-"+String(m)+"-"+String(y);
                }

        </script>
    </body>
</html>